
/*Locales*/
.info-div {
    border: 4px solid #4968af;
    /* Borde del rectángulo */
    border-radius: 70px;
    /* Borde circular */
    padding: 1.2px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Para contener el float */
    position: relative;
  }
  
  .info-div img {
    float: left;
    /* Alinea la imagen a la izquierda */
    margin-right: 40px;
    /* Margen a la derecha para separarla del texto */
  
    /* Hace que la imagen tenga forma circular */
    width: 280px;
    height: 230px;
    /* Tamaño máximo de la imagen */
    /* Altura automática para mantener la proporción */
    transition: transform 0.3s ease;
  }
  
  .info-div:hover img {
    transform: scale(1.1); /* Agrandar la imagen al pasar el mouse */
  }
  
  /* Para que el texto se alinee a la derecha */
  .info-div .info-text {
    overflow: visible;
    /* Para contener el float */
  }
  
  /* Agrega un clearfix para limpiar los floats */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 500px) {
    .info-div img {
      float: left;
      /* Alinea la imagen a la izquierda */
      margin-right: 20px;
      width: 461px;
      height: 271px;
      margin-bottom: 20px;
    }
  
    .info-div {
      border-radius: 32px;
    }
  
    .enlace-leer {
      margin-left: 38%;
    }
  }
  
  @media screen and (max-width: 420px) {
    .info-div img {
      float: left;
      /* Alinea la imagen a la izquierda */
      margin-right: 20px;
      width: 380px;
      height: 250px;
    }
  
    .info-text ul {
      list-style-type: none;
      /* Elimina la viñeta predeterminada */
      padding-left: 20px;
      font-size: 14px;
      /* Añade un espacio a la izquierda para el texto */
    }
  
    .info-text ul li:before {
      content: "\2022";
      /* Utiliza un punto como viñeta */
      color: black;
      /* Color del punto */
      display: inline-block;
      /* Muestra el punto como un elemento de bloque */
      width: 1em;
      /* Ancho del punto */
      margin-left: -1em;
      /* Mueve el punto al margen izquierdo */
    }
  
    .info-text h3 {
      font-size: 25px;
      /* Para contener el float */
    }
  
    .enlace-leer a {
      margin-top: -15px;
    }
  }
  
  .info-text ul {
    list-style-type: none;
    /* Elimina la viñeta predeterminada */
    padding-left: 20px;
    /* Añade un espacio a la izquierda para el texto */
  }
  
  .info-text ul li:before {
    content: "\2022";
    /* Utiliza un punto como viñeta */
    color: black;
    /* Color del punto */
    display: inline-block;
    /* Muestra el punto como un elemento de bloque */
    width: 1em;
    /* Ancho del punto */
    margin-left: -1em;
    /* Mueve el punto al margen izquierdo */
  }
  
  .texto-centrado {
    margin-top: 70px;
    font-size: 25px;
    color: #30519e;
    margin-bottom: 140px;
  }
  
  @media screen and (max-width: 768px) {
    .texto-centrado {
      font-size: 16px;
    }
  }
  
  .enlace-leer {
    text-decoration: none;
    color: white;
    background-color: #244289;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #244289;
    border-radius: 30px;
  }
  
  .enlace-leer:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid #244289;
  }
  h3 {
    font-weight: 680;
  }
  /*Fin apartado de locales*/
  